{% extends "base.html" %}

{% block menu %}
    <div class="row">
        <div class="medium-12 columns content menu">
            <div class="wrapper">
                <nav class="top-bar" data-topbar role="navigation">
                    <ul class="title-area">
                        <li class="name">
                            <h1><a href="{% url "inici" %}">GestioCI</a></h1>
                        </li>
                        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
                    </ul>

                    <section class="top-bar-section">
                        <!-- Right Nav Section -->
                        <ul class="right">
                            {% if not user.is_authenticated %}
                                <li class="login">
                                    <a href="{% url "login" %}" class="radius button">
                                        <i class="fa fa-fw fa-sign-in"></i>
                                        Iniciar sessió
                                    </a>
                                </li>
                            {% endif %}
                            {% if user.is_authenticated %}
                                <li class="has-dropdown not-click">
                                    <a href="#">
                                        <i class="fa fa-fw fa-user"></i> {{ user.first_name }} {{ user.last_name }}
                                    </a>
                                    <ul class="dropdown">
                                        <li><a href="{% url "password_change" %}"><i class="fa fa-fw fa-key"></i> Canviar contrasenya</a></li>
                                        <li><a href="{% url "logout" %}"><i class="fa fa-fw fa-sign-out"></i> Tancar sessió</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>

                        <!-- Left Nav Section -->
                        <ul class="left">
                            <li><a href="{% url "inici" %}">Inici</a></li>
                        </ul>
                    </section>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    {% block content %}{% endblock %}
{% endblock %}
