{% extends "layout.html" %}

{% block body %}
    <div class="row">
        <div class="medium-12 columns content">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}
