{% extends "simple.html" %}
{% load gci_tags %}

{#{% block titol_a_capcalera %}#}
{#{% endblock %}#}

{% block content %}

{# this should be above, inside titol_a_capcalera #}
<h1>Confirmació de la factura emesa
    {% if factura.numero %}{{ factura.numero }}{% else %}(proforma){% endif %}</h1>
{# end titol_a_capcalera #}

{% block explicacio_pas %}
    <div class="panel">
        <ul>
            {% if not factura.numero %}<li>Encara esteu treballant amb una factura «proforma».</li>{% endif %}
            <li>Empleneu les dades que calgui.</li>
            <li>Reviseu el desglós d'IVA, recàrrec d'equivalència i l'import total de la factura.</li>
            <li>Quan feu «generar» s'assignarà un número de la seqüència a la vostra factura, i deixarà de ser una «proforma».</li>
            <li>Un cop «generada», la factura ja no es podrà modificar. Per anul·lar-la haureu de generar-ne una altra d'import contrari.</li>
        </ul>
    </div>
{% endblock %}

<form method="POST">
    {% csrf_token %}

    <fieldset>
        <legend>Detalls del pagament</legend>
        <div class="medium-4 columns">
            {% form_field form.data_venciment %}
        </div>
        <div class="medium-4 columns">
            {% form_field form.forma_de_pagament %}
        </div>
        <div class="medium-4 columns">
            {% form_field form.data_prevista_pagament %}
        </div>
    </fieldset>

<div class="row">
<div class="large-6 columns">

    <fieldset>
        <legend>IVA</legend>
        <table>
            <thead>
                <tr>
                    <th class="text-center">Tipus</th>
                    <th class="text-right">Base imposable</th>
                    <th class="text-right">Import</th>
                </tr>
            </thead>
            <tbody>
                {% for r in resum_iva %}
                <tr>
                    <td class="text-center">{{ r.tipus_iva }}%</td>
                    <td class="text-right">{{ r.base_total }}&nbsp;€</td>
                    <td class="text-right">{{ r.iva_total }}&nbsp;€</td>
                </tr>
                {% endfor %}
                {% if resum_iva.count > 1 %}
                <tr>
                    <th>total</th>
                    <th class="text-right">{{ base_total }}&nbsp;€</th>
                    <th class="text-right">{{ iva_total }}&nbsp;€</th>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </fieldset>

    {% if req_total %}

    <fieldset>
        <legend>Recàrrec d'equivalència</legend>
        <table>
            <thead>
                <tr>
                    <th class="text-center">Tipus</th>
                    <th class="text-right">Base imposable</th>
                    <th class="text-right">Import</th>
                </tr>
            </thead>
            <tbody>
                {% for r in resum_req %}
                <tr>
                    <td class="text-center">{{ r.tipus_req }}%</td>
                    <td class="text-right">{{ r.base_total }}&nbsp;€</td>
                    <td class="text-right">{{ r.req_total }}&nbsp;€</td>
                </tr>
                {% endfor %}
                {% if resum_req.count > 1 %}
                <tr>
                    <th>total</th>
                    <th class="text-right">{{ base_total }}&nbsp;€</th>
                    <th class="text-right">{{ req_total }}&nbsp;€</th>
                </tr>
                {% endif %}
            </tbody>
        </table>

    </fieldset>

    {% endif %}

</div>
<div class="large-6 columns">

    <fieldset>
        <legend>Totals</legend>

        <table>
            <tr>
                <th>Base imposable</th>
                <td class="text-right">{{ factura.base_total }}&nbsp;€</td>
            </tr>
            <tr>
                <th>IVA</th>
                <td class="text-right">{{ factura.iva_total }}&nbsp;€</td>
            </tr>
            {% if factura.req_total %}
            <tr>
                <th>Recàrrec d'equivalència</th>
                <td class="text-right">{{ factura.req_total }}&nbsp;€</td>
            </tr>
            {% endif %}
            <tr>
                <th>Import a pagar</th>
                <th class="text-right">{{ factura.import_total }}&nbsp;€</th>
            </tr>
        </table>

    </fieldset>

</div>
</div>


    <a href="{% url "facturacio:editar_linies_factura_emesa" id_factura=factura.id %}" class="radius button">Editar línies</a>
    <button class="radius button" type="submit" name="anem_a" value="aqui">Desar</button>
    <button class="radius button" type="submit" name="anem_a" value="generar">Generar</button>
</form>

{% endblock %}
