{% extends "simple.html" %}
{% load gci_tags %}

{#{% block titol_a_capcalera %}#}
{#{% endblock %}#}

{% block content %}

{# this should be above, inside titol_a_capcalera #}
<h1>Edició de la factura emesa
    {% if factura.numero %}{{ factura.numero }}{% else %}(proforma){% endif %}</h1>
{# end titol_a_capcalera #}

{% block explicacio_pas %}
    <div class="panel">
        <ul>
            {% if not factura.numero %}<li>Encara esteu treballant a una factura «proforma».</li>{% endif %}
            <li>Introduïu les línies de la factura. Si us en quedeu sense, feu «desar» i en tindreu de noves.</li>
            <li>Poseu un zero a «quantitat» per eliminar la línia.</li>
            <li>Els imports són tots <b>sense IVA</b> i sense <b>recàrrec d'equivalència</b>. Podreu revisar l'IVA i el RE al proper pas d'aquest procés.</li>
        </ul>
    </div>
{% endblock %}

{#<fieldset>#}
{#    <div class="field checkbox"><input type="checkbox" id="custom_iva" onchange="hide_or_show_iva_and_req()"><label for="custom_iva">cal especificar algún IVA diferent del 21%</label></div>#}
{#    <div class="field checkbox"><input type="checkbox" id="custom_req" onchange="hide_or_show_iva_and_req()"><label for="custom_req">cal especificar recàrrec d'equivalència</label></div>#}
{#</fieldset>#}

<form method="POST">
    {% csrf_token %}
    {{ formset.management_form }}

    <table>
        <thead>
            <tr>
                <th>Quantitat</th>
                <th>Concepte</th>
                <th>Preu&nbsp;unitari (€)</th>
                <th>Base imposable (€)</th>
                <th class="td_iva">Tipus IVA (%)</th>
                <th class="td_req">Recàrrec d'equivalència (%)</th>
            </tr>
        </thead>
        <tbody>

            {% for form in formset %}
            <tr>
                <td>{% form_field form.quantitat hide_label=True hide_help=True %}</td>
                <td>{% form_field  form.concepte hide_label=True hide_help=True %}</td>
                <td>{% form_field  form.preu_unitari hide_label=True hide_help=True %}</td>
                <td><input type="text" id="id_{{ form.prefix }}-total_linia" style="text-align:right;" onchange="linia_modificada(event.target)"></td>
                <td class="td_iva">{% form_field  form.tipus_iva hide_label=True hide_help=True %}</td>
                <td class="td_req">{% form_field form.tipus_req hide_label=True hide_help=True %}</td>
                <td style="display:none;">{{ form.id }}{{ form.DELETE }}</td>
            </tr>
            {% endfor %}

            <tr>
                <td colspan="3">&nbsp;</td>
                <td><input type="text" id="total_factura" name="total_factura" style="text-align:right;" onchange="actualitzar_grand_total()"></td>
            </tr>
        </tbody>
    </table>

    <button class="radius button" type="submit" name="anem_a" value="aqui">Desar</button>
    <button class="radius button" type="submit" name="anem_a" value="seguent">Següent</button>
</form>

<script src="/static/js/eines-moneda.js"></script>

<script>

var grand_total = document.getElementById('total_factura');
var form_prefix = '{{ formset.0.quantitat.id_for_label }}'.split('-')[0];

{#var custom_iva = document.getElementById('custom_iva');#}
{#var custom_req = document.getElementById('custom_req');#}

actualitzar_grand_total();
{#detect_and_set_custom_iva_and_req();#}

function actualitzar_grand_total() {

    var i = 0;
    var gt = .0;

    while(true) {
        var e = document.getElementById(form_prefix + '-' + i + '-total_linia');
        if(!e) break;
        actualitzar_total_linia(e);
        if(e.value) gt += parseFloat(e.value);
        i++;
    }

    grand_total.value = arrodonir_a_2_decimals(gt);
}

function actualitzar_total_linia(element) {

    var n = element.id.split('-')[1];
    var prefix = form_prefix + '-' + n + '-';

    var f_quantitat    = document.getElementById(prefix + 'quantitat');
    var f_preu_unitari = document.getElementById(prefix + 'preu_unitari');
    var f_subtotal     = document.getElementById(prefix + 'total_linia');
    var f_tipus_iva    = document.getElementById(prefix + 'tipus_iva');
    var f_tipus_req    = document.getElementById(prefix + 'tipus_req');
    var f_delete       = document.getElementById(prefix + 'DELETE');

    if(f_quantitat.value != '' && f_preu_unitari.value != '') {
        f_subtotal.value = arrodonir_a_2_decimals(f_quantitat.value * f_preu_unitari.value);
    } else {
        f_subtotal.value = '';
    }

    if(f_subtotal.value != '' && f_tipus_iva.value == '') { f_tipus_iva.value = '21.00'; }
    if(f_subtotal.value != '' && f_tipus_req.value == '') { f_tipus_req.value = '0.00'; }
    f_delete.checked = (f_quantitat.value == 0);

}

function linia_modificada(element) {

    actualitzar_total_linia(element);
    actualitzar_grand_total();

}

{#function detect_and_set_custom_iva_and_req() {#}
{##}
{#    var ci = false;#}
{#    var cr = false;#}
{##}
{#    var i=0;#}
{#    while(true) {#}
{##}
{#        var iva = document.getElementById(form_prefix + '-' + i + '-tipus_iva');#}
{#        if (!iva) break;#}
{#        var req = document.getElementById(form_prefix + '-' + i + '-tipus_req');#}
{##}
{#        if(iva.value != 21) ci = true;#}
{#        if(req.value != 0) cr = true;#}
{##}
{#        i++;#}
{#    }#}
{##}
{#    custom_iva.checked = ci;#}
{#    custom_req.checked = cr;#}
{##}
{#    // TODO this does not work, I guess jQuery is not yet initialized #}
{#    $('.td_iva').toggle(custom_iva.checked);#}
{#    $('.td_req').toggle(custom_req.checked);#}
{#}#}
{##}
{#function hide_or_show_iva_and_req() {#}
{#    var i = 0;#}
{##}
{#    var hide_iva = custom_iva.checked;#}
{#    var hide_req = custom_req.checked;#}
{##}
{#    while(true) {#}
{#        var iva = document.getElementById(form_prefix + '-' + i + '-tipus_iva');#}
{#        if (!iva) break;#}
{##}
{#        var req = document.getElementById(form_prefix + '-' + i + '-tipus_req');#}
{##}
{#        if (hide_iva) iva.value = 21;#}
{#        if (hide_req) req.value = 0;#}
{##}
{#        i++;#}
{#    }#}
{##}
{#    $('.td_iva').toggle(hide_iva);#}
{#    $('.td_req').toggle(hide_req);#}
{##}
{#}#}

</script>

{% endblock %}