{% load gci_tags %}
<html>
<head>
    <title>Factura {{ f.numero }}</title>
    <style>
        div {
            border: 1px solid black;
        }
    </style>
</head>
<body>

<h1>{{ f.proveidor.nom_fiscal }}</h1>

<div>
    {{ f.proveidor.adreca_fiscal.adreca }}<br/>
    {{ f.proveidor.adreca_fiscal.codi_postal }} {{ f.proveidor.adreca_fiscal.poblacio }}<br/>
    NIF: {{ f.proveidor.nif }}
</div>

<div>
    <table>
        <tr><th>Data</th><td>{{ f.data|format_data_factura }}</td></tr>
        <tr><th>Número</th><td>{{ f.numero }}</td></tr>
    </table>
</div>

<div>
    {{ f.client.nom_fiscal }}<br/>
    {{ f.client.adreca_fiscal.adreca }}<br/>
    {{ f.client.adreca_fiscal.codi_postal }}{{ f.client.adreca_fiscal.poblacio }}<br/>
    NIF: {{ f.client.nif }}
</div>

<div>
    <table>
        <thead>
        <tr><th colspan="3">Desglossament de l'IVA</th></tr>
        <tr>
            <th>Tipus</th>
            <th>Base imposable</th>
            <th>Import</th>
        </tr>
        </thead>
        <tbody>
        {% for r in resum_iva %}
            <tr>
                <td>{{ r.tipus_iva }}&nbsp;%</td>
                <td>{{ r.base_total }}&nbsp;€</td>
                <td>{{ r.iva_total }}&nbsp;€</td>
            </tr>
        {% endfor %}
        <tr>
            <th>Subtotals</th>
            <td>{{ f.base_total }}&nbsp;€</td>
            <td>{{ f.iva_total }}&nbsp;€</td>
        </tr>
        </tbody>
    </table>
</div>

<div>
    <table>
        <thead>
            <tr><th colspan="2">Totals</th></tr>
        </thead>
        <tbody>
            <tr><th>Base imposable</th><td>{{ f.base_total }}&nbsp;€</td></tr>
            <tr><th>IVA</th><td>{{ f.iva_total }}&nbsp;€</td></tr>
            <tr><th>Retenció IRPF ({{ f.tipus_irpf }}&nbsp;%)</th><td>{{ f.irpf_total }}&nbsp;€</td></tr>
            <tr><th>Total</th><td>{{ f.import_total }}&nbsp;€</td></tr>
        </tbody>
    </table>
</div>

</body>
</html>