{% extends "blank.html" %}
{% load gci_tags %}

{% block content %}
    <div class="row">
        <div class="medium-6 large-4 columns medium-centered large-centered">
            <div class="panel login">
                <form method="post">
                    {% csrf_token %}
                    {% if validlink %}
                        <p>Introduïu la nova contrasenya dues vegades.
                        Així es comprovarà que s'ha escrit correctament.</p>
                        {% non_field_errors form %}
                        {% form_field form.new_password1 %}
                        {% form_field form.new_password2 %}
                        <br />
                        <button type="submit" class="expand radius button"><i class="fa fa-fw fa-sign-in"></i> Restableix la contrasenya</button>
                    {% else %}
                        <h4>No s'ha pogut restablir la contrasenya</h4>
                        <p>L'enllaç que has obert ja no és vàlid.</p>
                        <p>Torneu a començar el procés.</p>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}