{% load url from future %}
{% autoescape off %}

Bones {{ user.name }},
<br />
<br />
S'ha rebut una petició a {{ site_name }} per restablir la vostra contrasenya.
<br />
Si voleu procedir amb la petició, clickeu a l'enllaç següent:
<br />
{% block reset_link %}
<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a>
{% endblock %}
<br />
<br />
Atentament,
L'equip de {{ site_name }}
<br />
PD: Aquest és un missatge automàtic, si el respons, ho rebrâ una màquina que no sabra què fer.
{% endautoescape %}