{% extends "alta_socies/autoocupat/template.html" %}
{% load gci_tags %}

{% block explicacio_pas %}
    <div class="panel">
        <ul>
            <li>Si voleu treure o modificar algun membre de referència haureu de <a href="{% url "alta_socies:proces_alta_projecte_autoocupat" id_proces 1 %}">tornar al pas 1</a>.</li>
        </ul>
    </div>
{% endblock %}

{% block pas %}
    {{ formset_membres_referencia.management_form }}

    {% for f in formset_membres_referencia %}

        <fieldset>
            <legend>{{ f.id }}{{ f.nom_sencer }}{{ f.nom_sencer.value }}</legend>

            <div class="row">
                <div class="medium-6 columns">
                    <div class="row">
                        <div class="medium-6 columns">
                            {% form_field f.tipus_document_dni %}
                        </div>
                        <div class="medium-6 columns">
                            {% form_field f.dni %}
                        </div>
                    </div>
                    {% form_field f.habilitats %}
                    {% form_field f.detalls_habilitats %}
                </div>
                <div class="medium-6 columns">
                    {% form_field f.email %}
                    {% form_field f.compte_integralces %}
                    {% form_field f.contribucions %}
                </div>
            </div>
        </fieldset>
    {% endfor %}

    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_AQUI }}">Desar</button>
    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_ANTERIOR }}">Desar i anar al pas anterior</button>
    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_SEGUENT }}">Desar i anar al següent pas</button>
{% endblock %}
