{% extends "alta_socies/autoocupat/template.html" %}
{% load gci_tags %}

{% block explicacio_pas %}
    <div class="panel">
        <ul>
            <li>En el pas següent es podrà demanar que una o vàries assegurances cobreixin les adreces i les activitats.</li>
        </ul>
    </div>
{% endblock %}

{% block pas %}
    <fieldset>
        <legend>Altres activitats</legend>
        {% form_field form.altres_activitats hide_label=True %}
    </fieldset>

    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_AQUI }}">Desar</button>
    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_ANTERIOR }}">Desar i anar al pas anterior</button>
    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_SEGUENT }}">Desar i anar al següent pas</button>
{% endblock %}
