{% extends "alta_socies/autoocupat/template.html" %}

{% block explicacio_pas %}
    <div class="panel">
        <ul>
            <li>Es pot demanar la concessió d'activitat a la CIC per cada una de les activitats que s'han triat.</li>
            <li>És a criteri del responsable d'alta permetre que no es tramiti la concessió d'alguna activitat.</li>
            <li>En el proper pas es podrà demanar que les adreces i les activitats estiguin cobertes per alguna assegurança.</li>
        </ul>
    </div>
{% endblock %}

{% block pas %}
    <fieldset>
        <legend>Concessió d'activitats a la CIC</legend>

        <table>
            <thead>
                <th>Adreça</th>
                <th>Activitat</th>
                <th colspan="2">Concessió d'activitat a la CIC</th>
            </thead>
            <tbody>
                {% for fila in activitats_per_adreca %}
                    <tr>
                        <td>{{ fila.adreca_designacio }}</td>
                        <td>{{ fila.activitat_nom }}</td>
                        <td>
                            <input type='checkbox'
                                   id='demana_concessio_{{ fila.adreca_id }}_{{ fila.activitat_id }}'
                                   name='demana_concessio_{{ fila.adreca_id }}_{{ fila.activitat_id }}'
                                   data-adreca-id='{{ fila.adreca_id }}'
                                   data-activitat-id='{{ fila.activitat_id }}'
                                   {% if fila.checked %}checked{% endif %}/>
                        </td>
                        <td>
                            <input type='text'
                                   id='comentaris_concessio_{{ fila.adreca_id }}_{{ fila.activitat_id }}'
                                   name='comentaris_concessio_{{ fila.adreca_id }}_{{ fila.activitat_id }}'
                                   data-adreca-id='{{ fila.adreca_id }}'
                                   data-activitat-id='{{ fila.activitat_id }}'
                                   value='{{ fila.comentaris }}'/>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </fieldset>

    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_AQUI }}">Desar</button>
    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_ANTERIOR }}">Desar i anar al pas anterior</button>
    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_SEGUENT }}">Desar i anar al següent pas</button>
{% endblock %}

{% block javascript %}
    {# TODO: Decouple JS from HTML #}
    <script>
        $('form input[type=text]').keyup(function () {
            if ($(this).val()) {
                var checkbox = $('#demana_concessio_' + $(this).data('adreca-id') + '_' + $(this).data('activitat-id'));
                checkbox.prop('checked', true);
            }
        });
    </script>
{% endblock %}
