{% extends "alta_socies/autoocupat/template.html" %}
{% load gci_tags %}

{% block explicacio_pas %}
    <div class="panel">
        <ul>
            <li>Esteu certificant que aquestes persones van atendre (i van aprofitar?) la sessió en repressentació del projecte.</li>
        </ul>
    </div>
{% endblock %}

{% block pas %}
    <fieldset>
        <legend>Sessió de moneda social</legend>
        {% form_field form_projecte.sessio_moneda hide_label=True %}
    </fieldset>

    <fieldset>
        <legend>Assistència dels membres de referència</legend>
        <div class="field">
            <ul>
                {% for m in membres %}
                    <li>
                        <label>
                            <input type="checkbox" id="assistent_{{ m.id }}" name="assistent_{{ m.id }}" {% if m.checked %}checked{% endif %}>
                            {{ m.nom_sencer }}
                        </label>
                    </li>
                {% endfor %}
            </ul>
        </div>

        {% if not hi_son_tots %}
            <div class="panel errors">
                <ul class="errorlist">
                    <li>Si no hi han assistit tots, no es pot continuar el procés.</li>
                </ul>
            </div>
        {% endif %}
    </fieldset>

    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_AQUI }}">Desar</button>
    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_SEGUENT }}">Desar i anar al següent pas</button>
{% endblock %}
