{% extends "alta_socies/autoocupat/template.html" %}

{% block explicacio_pas %}
    <div class="panel">
        <ul>
            <li>
                Informem als membres de referència:
                <ul>
                    <li>El procés està complet, ja estan donats d'alta i poden facturar.</li>
                    <li>Els membres de referència rebran un correu amb la informació per accedir al &laquo;portal del soci&raquo;.
                    <li>El seu nom d'usuari és la seva adreça de correu</li>
                    <li>Hauran de demanar &laquo;Restableix la contasenya&raquo;.</li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}

{% block pas %}
    <input class="radius button" type="submit" value="Validar el procés i crear el projecte">
{% endblock %}
