{% extends "simple.html" %}

{% block titol_a_capcalera %}Resum de proces d'alta de projecte autoocupat{% endblock %}

{% block content %}
    <div class="group">
        <h2>Resum proces d'alta</h2>
        
        <h3>Dades generals</h3>
        <p><strong>Nom: </strong> {{ proces.nom }}</p>
        <p><strong>Email: </strong> {{ proces.email }}</p>
        <p><strong>Telefon: </strong> {{ proces.telefon }}</p>
        <p><strong>Website: </strong> {{ proces.website }}</p>
        <p><strong>Descripciò: </strong> {{ proces.descripcio }}</p>
        
        <h3>Membres de referencia</h3>
        <ul>
        {% for persona in proces.membres_de_referencia.all %}
        <li> <p>{{ persona.nom }} {{ persona.pseudonim }} {{ persona.cognom1 }} {{ persona.cognom2 }} - {{ persona.email }} - {{ persona.telefon }} - {{ persona.dni }} - {{ persona.compte_integralces }}</p></li>
        {% endfor %}
        </ul>

        <h3>Sessions</h3>
        <p><strong>Acollida: </strong>{{ proces.sessio_acollida.data }} - {{ proces.sessio_acollida.ubicacio.nom }}</p>
        <p><strong>Avaluaciò: </strong>{{ proces.sessio_avaluacio.data }} - {{ proces.sessio_avaluacio.ubicacio.nom }}</p>
        <p><strong>Moneda Social: </strong>{{ proces.sessio_moneda.data }} - {{ proces.sessio_moneda.ubicacio.nom }}</p>
        <p><strong>Alta: </strong>{{ proces.sessio_malta.data }} - {{ proces.sessio_alta.ubicacio.nom }}</p>

        <h3>Dades específiques</h3>
        <p><strong>Tipus: </strong>{{ proces.tipus }}</p>
        <p><strong>Individual?: </strong>{{ proces.individual }}</p>
        <p><strong>Es PAIC?: </strong>{% if proces.es_paic %}<i class="fa fa-fw fa-check-square-o"></i>{% endif %}
        <p><strong>Té comerç electronic?: </strong>{% if proces.te_comerc_electronic %}<i class="fa fa-fw fa-check-square-o"></i>{% endif %}
        <p><strong>Mercat Virtual?: </strong>{% if proces.mercat_virtual %}<i class="fa fa-fw fa-check-square-o"></i>{% endif %}
        <p><strong>Té productes ecologics?: </strong>{% if proces.te_productes_ecologics %}<i class="fa fa-fw fa-check-square-o"></i>{% endif %}
        <p><strong>Té expositors a AS?: </strong>{% if proces.expositors %}<i class="fa fa-fw fa-check-square-o"></i>{% endif %}
        <p><strong>Tipus parada firaire: </strong>{{ proces.tipus_parada_firaire }}</p>

        <h3>Adreçes i activitats<h3>
        <ul>
        {% for adreca in proces.adreces.all %}
        <li><p> {{ adreca.designacio }} - {{ adreca.adreca }}</p>
        	<ul>
        	{% for activitat in adreca.activitats.all %}
        	<li><p> {{ activitat.nom }} </p></li>
        	{% endfor %}
        	</ul>
        </li>
        {% endfor %}
        </ul>
        <p><strong>Altres activitats:</strong></p>
        <ul>
        {% for activitat in proces.altres_activitats.all %}
        <li><p> {{ activitat.nom }} </p></li>
        {% endfor %}
        </ul>

        <h3>Socies afins adicionals</h3>
        <ul>
        {% for persona in proces.socies_afins_adicionals.all %}
        <li><p>{{ persona.nom }} {{ persona.pseudonim }} {{ persona.cognom1 }} {{ persona.cognom2 }} - {{ persona.email }} - {{ persona.telefon }} - {{ persona.dni }} - {{ persona.compte_integralces }}</p></li>
        {% endfor %}
        </ul>

        <p><strong>Socia mentora: </strong>{{ proces.socia_mentora.nom }} {{ proces.socia_mentora.pseudonim }} {{ proces.socia_mentora.cognom1 }} {{ proces.socia_mentora.cognom2 }} - {{ proces.socia_mentora.email }} - {{ proces.socia_mentora.telefon }} - {{ proces.socia_mentora.dni }} - {{ proces.socia_mentora.compte_integralces }}</p>

        <h3>Dades fiscals</h3>
        <p><strong>Compte CES assignat: </strong>{{ proces.compte_CES_assignat }}</p>
        <p><strong>Cooperativa assignada: </strong>{{ proces.cooperativa_assignada }}</p>
        <p><strong>IVA assignat: </strong>{{ proces.iva_assignat }}</p>
        <p><strong>Quota d'alta: </strong>{{ proces.quota_alta_quantitat }}</p>
        <p><strong>Quota d'alta - Forma de pagament: </strong>{{ proces.quota_alta_forma_pagament }}</p>
        <p><strong>Quota d'alta - Data de pagament: </strong>{{ proces.quota_alta_data_hora_pagament }}</p>
        <p><strong>Quota trimestral avançada: </strong>{{ proces.quota_avancada_quantitat }}</p>
        <p><strong>Quota trimestral avançada - Forma de pagament: </strong>{{ proces.quota_avancada_forma_pagament }}</p>
        <p><strong>Quota trimestral avançada - Data de pagament: </strong>{{ proces.quota_avancada_data_hora_pagament }}</p>
        <p><strong>Compte CES que paga les quotes: </strong>{{ proces.compte_CES_que_paga_les_quotes }}</p>
        <p><strong>Comentaris al moment del pagament de quotes: </strong>{{ proces.comentaris_pagament_quotes }}</p>
    </div>
{% endblock %}