<!DOCTYPE html>
<html>
<head lang="ca">
    <meta charset="UTF-8">
    <title>Llista de tasques</title>

<style>
    body {
        font-family: 'DejaVu Sans Condensed', sans-serif;
        font-size: 10pt;
        width: 190mm;
    }
    .capcalera {
        width: 100%;
        font-size: 130%;
        font-weight: bold;
        border-collapse: collapse;
        padding: 1mm;
    }
    .capcalera th {
        border: 1mm solid black;
        background-color: #d0d0d0;
    }
    .capcalera td {
        border: 1mm solid black;
        background-color: #dddddd;
        font-size: 120%;
    }
    .al { text-align: left; }
    .ac { text-align: center; }
    .ar { text-align: right; }
    .mitja_amplada { width: 50%; }
    .taula_informativa {
        width: 100%;
        border-collapse: collapse;
    }
    .taula_informativa th {
        border: 0.5mm solid black;
        background-color: #dddddd;
        font-size: 80%;
    }
    .taula_informativa td {
        border: .5mm solid black;
        font-style: italic;
        font-size:70%;
    }
    .peu td {
        border-top: 0.5mm solid black;
        font-size: 80%;
    }
    .url {
        font-family: monospace;
        text-decoration: none;
    }
    h1 {
        font-size:120%;
    }
    .llista_tasques {
        list-style: none;
    }

    {# mentre no investiguem com assegurar que no es trenquen els apartats a final de pàgina #}
    {# val mes que no separem la pàgina en dos; no sigui que algú faci només les tasques de la primera pàgina :) #}
{#    @media all {#}
{#	    .page-break	{ display: none; }#}
{#    }#}
{##}
{#    @media print {#}
{#	    .page-break	{ display: block; page-break-before: always; }#}
{#    }#}

    @page {
        size: A4 portrait;
        margin: 2cm;
    }
</style>
</head>
<body>
<table class="capcalera">
    <tr>
        <th class="ac">Cooperativa Integral Catalana &mdash; Procés d'alta de projecte autoocupat</th>
    </tr>
    <tr>
        <td class="ac">Llista de tasques pendents</td>
    </tr>
</table>

<p> A continuació, us indiquem la llista de tasques que heu de realitzar. Per qualsevol dubte disposeu de la pàgina web
    de la CIC<sup>1</sup>. En cas necessari, també podeu acudir al responsable amb qui heu fet la sessió d'Avaluació.
    Quan tingueu totes aquestes tasques completades haureu de demanar hora amb aquest responsable per venir un altre
    dia — les mateixes persones — a completar el procés d'alta del vostre projecte. IMPORTANT: si no aporteu tota la
    documentació i tasques demanades en aquesta llista no podrem completar el procés encara que vingueu a una sessió
    d'Alta, i l'haureu de repetir un altre dia.
</p>

<table class="taula_informativa">
	<tr>
        <th>Projecte</th><th>Responsable d'alta</th><th>Correu de contacte</th>
    </tr>
	<tr>
        <td class="ac">{{ proces.nom }}</td>
        <td class="ac">{{ user.first_name }}&nbsp;{{ user.last_name }}{{ proces.responsable.nom_public }}</td>
        <td class="ac">{{ user.email }}{{ proces.responsable.persona.email }}</td>
    </tr>
</table>


{% if traspassos %}
	<h1>Traspassos</h1>
	<table class="taula_informativa">
		<tr>
			<th>Tipus</th>
            <th>Adreça</th>
            <th>Comentaris</th>
		</tr>
		{% for traspas in traspassos %}
		<tr>
			<td class="ac">{{ traspas.tipus|safe }}</td>
			<td class="ac">
                {% if traspas.adreca %}
                    {{ traspas.adreca.adreca }} ({{ traspas.adreca.poblacio }})
                {% else %}
                    {{ NO_APLICA }}
                {% endif %}
            </td>
			<td class="ac">{{ traspas.comentaris }}</td>
		</tr>
		{% endfor %}
	</table>
	<p>Haureu d'aportar el document corresponent a cada traspàs.</p>
{% endif %}

{% if concessions %}
	<h1>Concessions d'activitats</h1>
	<table class="taula_informativa">
		<tr>
			<th>Activitat</th>
            <th>Adreça</th>
            <th>Comentaris</th>
		</tr>
		{% for concessio in concessions %}
		<tr>
			<td class="ac">{{ concessio.activitat }}</td>
            <td class="ac">
                {% if concessio.adreca %}
                    {{ concessio.adreca.adreca }} ({{ concessio.adreca.poblacio }})
                {% else %}
                    {{ NO_APLICA }}
                {% endif %}
            </td>
			<td class="ac">{{ concessio.comentaris }}</td>
		</tr>
		{% endfor %}
	</table>
	<p>Haureu d'aportar la llicència d'activitat i el contracte de concessió corresponents a cada activitat.</p>
{% endif %}

{% if assegurances_adreca or assegurances_altres_activitats %}
	<h1>Assegurances</h1>
	<table class="taula_informativa">
		<tr>
            <th>Activitat</th>
			<th>Adreça</th>
            <th>Comentaris</th>
		</tr>
		{% for ass in assegurances_adreca %}
            <tr>
                <td class="ac">
                    {% if ass.activitat.nom %}
                        {{ ass.activitat.nom }}
                    {% else %}
                        {{ NO_APLICA }}
                    {% endif %}
                </td>
                <td class="ac">
                    {{ ass.adreca.adreca }} ({{ ass.adreca.poblacio }})
                </td>
                <td class="ac">{{ ass.comentaris }}</td>
            </tr>
        {% endfor %}
		{% for ass in assegurances_altres_activitats %}
            <tr>
                <td class="ac">
                    {% if ass.activitat.nom %}
                        {{ ass.activitat.nom }}
                    {% else %}
                        {{ NO_APLICA }}
                    {% endif %}
                </td>
                <td class="ac">
                    {% if ass.adreca %}
                        {{ ass.adreca.adreca }} ({{ ass.adreca.poblacio }})
                    {% else %}
                        {{ NO_APLICA }}
                    {% endif %}
                </td>
                <td class="ac">{{ ass.comentaris }}</td>
            </tr>
        {% endfor %}
	</table>
	<p>Haureu d'aportar el rebut vigent i el certificat de cobertura corresponents a cada assegurança.</p>
{% endif %}

<div class="page-break"></div>

{% if proces.tipus == proces.TIPUS_AUTOOCUPAT_FIRAIRE %}
<h1>Firaires</h1>
<ul class="llista_tasques">
    <li>&#x2611;&nbsp;Foto de la parada</li>
    <li>&#x2611;&nbsp;Fotos dels productes i/o gammes de productes</li>
    <li>&#x2611;&nbsp;Descripció detallada de la parada i els productes</li>
</ul>
<p>Porteu les fotos i descripcions en USB, o adjunteu-les a un correu electrònic al vostre responsable.</p>
{% endif %}

<h1>Quotes</h1>
<ul class="llista_tasques">
    <li>&#x2611;&nbsp;Quota d'alta:
        {{ proces.quota_alta_quantitat }}&nbsp;{{ proces.get_quota_alta_forma_pagament_display }}</li>
    <li>&#x2611;&nbsp;Quota trimestral avançada:
        {{ proces.quota_avancada_quantitat }}&nbsp;{{ proces.get_quota_avancada_forma_pagament_display }}</li>
</ul>
<p>Si les quotes es paguen en moneda social caldrà portar el número d'un compte CES que ja tingueu.</p>

{% if proces.individual == proces.INDIVIDUAL_COL_LECTIU %}
<h1>Socis afins</h1>
<ul class="llista_tasques">
    <li>&#x2611;&nbsp;Portar apuntats els nom, cognom i DNI de tots socis afins del projecte.</li>
</ul>
<p>Són socis afins els membres de referència, i també els membres que vulguin rebre cobertura legal de la CIC.</p>
{% endif %}

<table class="peu">
    <tr>
        <td>
        	<sup>1</sup>&nbsp;<a class="url" href="http://cooperativa.cat/participa/vols-fer-ten-soci-autonom/">http://cooperativa.cat/participa/vols-fer-ten-soci-autonom/</a>
		</td>
	</tr>
</table>
</body>
</html>