{% extends "layout.html" %}
{% load gci_tags %}
{% block content %}

    <div class="row">

        {# bloc "processos d'alta de projecte autoocupat" #}
        {% if user|is_responsable_alta or user|is_supervisora_alta %}

            <div class="medium-6 columns">

                <fieldset>

                    <legend><i class="fa fa-fw fa-users"></i> Processos d'alta de projecte autoocupat</legend>

                    <ul class="radius button-group even-2">
                        <li>
                            <a href="{% url "alta_socies:proces_alta_projecte_autoocupat" %}" class="button">
                                <i class="fa fa-fw fa-plus"></i> Començar nou procés
                            </a>
                        </li>
                        <li>
                            <a href="{% url "alta_socies:llistat_proces_alta_autoocupat" %}" class="button">
                                <i class="fa fa-fw fa-list"></i> Llistat de processos
                            </a>
                        </li>
                    </ul>

                    {% if user|is_supervisora_alta %}

                        <ul class="radius button-group even-2">
                        <li>
                                <a href="{% url "alta_socies:reassignacio_proces_alta_autoocupat" %}" class="button expand">
                                    <i class="fa fa-fw fa-random"></i> Reassignar responsables
                                </a>
                            </li>
                            <li>
                                <a href="{%  url "alta_socies:llistat_proces_alta_projecte_autoocupat_revisio_descripcions" %}" class="button">
                                    <i class="fa fa-fw fa-tasks"></i> Control de qualitat
                                </a>
                            </li>
                        </ul>

                    {% endif %}

                    <ul class="radius button-group even-2">
                        <li>
                            <a href="{%  url "alta_socies:estadistiques_proces_alta_projecte_autoocupat" %}" class="button">
                                <i class="fa fa-fw fa-tasks"></i> Estadístiques
                            </a>
                        </li>
                    </ul>

                    {% if user|is_exportador %}

                        <ul class="radius button-group even-2">
                            <li>
                                <a href="{% url "alta_socies:exportar_a_csv" %}" class="button expand">
                                    <i class="fa fa-fw fa-level-down"></i> Exportar al «Transversal»
                                </a>
                            </li>
                        </ul>

                    {% endif %}

                </fieldset>

            </div>

        {% endif %}

        {# bloc "processos d'alta de projecte autoocupat" #}
        {% if user|is_responsable_alta or user|is_supervisora_alta %}

            <div class="medium-6 columns groups-container">

                <fieldset>

                    <legend><i class="fa fa-fw fa-calendar"></i> Sessions</legend>

                    <ul class="radius button-group even-3">
                        <li>
                            <a href="#" class="disabled info button">Acollida</a>
                        </li>
                        <li>
                            <a href="{% url "alta_socies:crear_sessio_acollida" %}" class="button"><i class="fa fa-fw fa-plus"></i> Nova</a>
                        </li>
                        <li>
                            <a href="{% url "alta_socies:llistat_sessio_acollida" %}" class="button"><i class="fa fa-fw fa-list"></i> Llistat</a>
                        </li>
                    </ul>

                    <ul class="radius button-group even-3">
                        <li>
                            <a href="#" class="disabled info button">Moneda social</a>
                        </li>
                        <li>
                            <a href="{% url "alta_socies:crear_sessio_moneda" %}" class="button"><i class="fa fa-fw fa-plus"></i> Nova</a>
                        </li>
                        <li>
                            <a href="{% url "alta_socies:llistat_sessio_moneda" %}" class="button"><i class="fa fa-fw fa-list"></i> Llistat</a>
                        </li>
                    </ul>

                </fieldset>

            </div>

        {% endif %}

    </div>

    <div class="row">

        {# bloc "facturació dels projectes autoocupats" #}
        {% if user|is_responsable_alta or user|is_supervisora_alta %}

            <div class="medium-6 columns groups-container">

                <fieldset>

                    <legend><i class="fa fa-fw fa-calendar"></i> Facturació dels projectes autoocupats</legend>

                    <ul class="radius button-group even-2">
                        <li>
                            <a href="{% url "facturacio:llistat_projectes_autoocupats" %}" class="button"><i class="fa fa-fw fa-list"></i> Llistat de projectes autoocupats</a><br/>
                        </li>
                        <li>
                            <a href="{% url "facturacio:validacio_factures_rebudes" %}" class="button"><i class="fa fa-fw fa-list"></i> Validació de factures rebudes</a>
                        </li>
                    </ul>

                    <ul class="radius button-group even-2">
                        <li>
                            <a href="{% url "facturacio:facturacio_per_proveidor" %}" class="button"><i class="fa fa-fw fa-list"></i> Facturació per proveïdor</a><br/>
                        </li>
                        <li>
                            <a href="{% url "facturacio:facturacio_per_client" %}" class="button"><i class="fa fa-fw fa-list"></i> Facturació per client</a>
                        </li>
                    </ul>

                </fieldset>

            </div>

        {% endif %}

    </div>



    {% if FLAG_FAQ %}

        {% if "true" or not user.is_authenticated %}

            <section class="group">
                <div class="content">
                    <h1><i class="fa fa-fw fa-flag"></i> Bienvenido al portal del socio!</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.</p>
                </div>
            </section>

        {% endif %}

        <section class="group blue">
            <div class="content">
                <h1><i class="fa fa-fw fa-question-circle"></i> FAQs</h1>
                <input type="text" placeholder="Buscar…">
            </div>
        </section>

    {% endif %}




{% endblock %}
