.color-alert {
    color: $alert-color;
}

.color-info {
    color: $info-color;
}

.color-primary {
    color: $primary-color;
}

.color-secondary {
    color: $secondary-color;
}

.color-success {
    color: $success-color;
}

.color-warning {
    color: $warning-color;
}
