html {
    -webkit-font-smoothing: antialiased;

    *:focus {
        outline: none;
    }
}

.content {
    h1:first-child {
        margin-top: $half-padding;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-top: $half-padding;
}

p, ul, ol {
    font-size: 0.95rem;
    line-height: $body-line-height;
    font-weight: inherit;
    margin-bottom: rem-calc($half-padding);
}

ul > ul, ol > ol, ul > ol, ol > ul {
    margin-bottom: 0;
}

@media #{$medium-up} {
    .columns.content {
        p {
            width: 85%;
        }

        // Don't change width in nested grids
        .columns p {
            width: 100%;
        }
    }
}

@media #{$large-up} {
    .columns.content p {
        width: 70%;
    }
}

ul, ol {
    margin-left: 2rem;
}

ul {
    list-style-type: square;

    li > p {
        margin: 0;
    }

    li ul {
        margin: $quarter-padding 0 $quarter-padding 1.25rem;
    }
}

small, .small {
    font-size: $small-font-size;

    ul, p {
        font-size: $small-font-size;
    }
}

.smallest {
    font-size: $smallest-font-size;
}
