{% load gci_tags %}

<style>
    #contenidor_resultats {
    }
    #contenidor_camps tr td input {
        font-size: 80%;
    }
    .ww input {
        width: 100%;
    }
    .caixa_resultats_dreta {
        vertical-align: top;
    }
    .boto_accio_resultat {
        margin: 2px;
        padding: 2px;
        border: 1px solid black;
        border-radius: 4px;
        font-size: 70%;
    }
    .boto_accio_resultat-editar {
        background-color: yellow;
    }
    .boto_accio_resultat-triar {
        background-color: lightgreen;
    }
    .boto_accio_resultat-treure {
        background-color: orange;
    }
    .boto_accio_resultat-nova {
        background-color: cornflowerblue;
    }
    #cap_persona {
        font-style: italic;
    }
</style>

{# Hidden field con lista de las personas #}
{{ f.persones_escollides }}

<fieldset>
    <legend>{{ rol_a_assignar }}</legend>

    {% if error %}
        <div class="panel errors">
            <ul class="errorlist">
                <li>{{ error }}</li>
            </ul>
        </div>
    {% endif %}

    <ul id="visor_escollides">
        <li id="cap_persona">(cap)</li>
    </ul>
</fieldset>

<fieldset>
    <legend>Cerca de persones</legend>

    <div class="row">
        <div class="medium-6 columns">
            {{ f.id_persona }}

            <div class="row">
                <div class="medium-6 columns">
                    {% form_field f.nom %}
                </div>
                <div class="medium-6 columns">
                    {% form_field f.pseudonim %}
                </div>
                <div class="medium-6 columns">
                    {% form_field f.cognom1 %}
                </div>
                <div class="medium-6 columns">
                    {% form_field f.cognom2 %}
                </div>
                <div class="medium-6 columns">
                    {% form_field f.email %}
                </div>
                <div class="medium-6 columns">
                    {% form_field f.telefon %}
                </div>
                <div class="medium-12 columns">
                    {% form_field f.compte_integralces %}
                </div>
                <div class="medium-6 columns">
                    {% form_field f.tipus_document_dni %}
                </div>
                <div class="medium-6 columns">
                    {% form_field f.dni %}
                </div>
            </div>

            <input class="tiny secondary radius button" id="boto_netejar" type="button" value="Netejar" onclick="cancel_lar()" />
            <input class="tiny secondary radius button" id="boto_cercar" type="button" value="Cercar" onclick="cerca()" />
            <input class="tiny secondary radius button" id="boto_cancel_lar" type="button" value="Cancel·lar" onclick="cancel_lar()" style="display:none" />
            <button class="tiny secondary radius button" id="boto_desar" type="submit" name="anem_a" value="{{ MODIFICAR_PERSONA }}" style="display:none">Desar canvis i afegir persona</button>
            <button class="tiny secondary radius button" id="boto_crear" type="submit" name="anem_a" value="{{ CREAR_PERSONA }}" style="display:none">Desar i afegir nova persona</button>
        </div>
        <div class="medium-6 columns">
            <div id="caixa_resultats" class="caixa_resultats_dreta" style="display:none">
                <p>Resultats</p>
                <div id="contenidor_resultats"></div>
                <a class="tiny secondary radius button" style="display:none" id="boto_no_trobat_crear" onclick="crear_persona()" class="boto_accio_resultat boto_accio_resultat-nova">Alta nova persona</a>
            </div>
        </div>
    </div>
</fieldset>

<script>// TODO moure a 'static_includes/eines_cerca_persones.html'

// TODO: HACK temporal… habria que inicializarlo de mejor manera
var cercador_opts = {
    input_id_escollides: '{{ f.persones_escollides.id_for_label }}',
    escollir_minim:      {{ escollir_minim }},
    escollir_maxim:      {{ escollir_maxim }},
    exclusio:            {{ persones_a_excloure }},
    persones_inicials:   {{ persones_inicials|safe }},
    csrf_token:          '{{ csrf_token }}'
};

var registre = [];

// variables relacionades amb la cerca de persones
registre.peticio_en_curs = false;
registre.resultats       = null;
registre.mode            = 'cercar'; // per decidir què fa la tecla ENTER

// inicialització (valors que no es canvien dinàmicament)
registre.visor_resultats          = document.getElementById('contenidor_resultats');
registre.boto_no_trobat_crear     = document.getElementById('boto_no_trobat_crear');
registre.boto_netejar             = document.getElementById('boto_netejar');
registre.boto_cercar              = document.getElementById('boto_cercar');
registre.boto_cancel_lar          = document.getElementById('boto_cancel_lar');
registre.boto_desar               = document.getElementById('boto_desar');
registre.boto_crear               = document.getElementById('boto_crear');
registre.caixa_resultats          = document.getElementById('caixa_resultats');
registre.camp_persones_escollides = document.getElementById(cercador_opts.input_id_escollides);
registre.prefix                   = 'id_';
registre.li_id_prefix             = 'li_id_';

registre.camps = ['nom', 'cognom1', 'cognom2', 'pseudonim', 'email', 'telefon',
                  'compte_integralces', 'tipus_document_dni', 'dni'];

registre.escollir_minim = cercador_opts.escollir_minim;
registre.escollir_maxim = cercador_opts.escollir_maxim;

// variables relacionades amb la tria de persones
registre.exclusio = cercador_opts.exclusio;

 // TODO fer que el visor de resultats funcioni com el d'escollits
registre.visor_escollides     = document.getElementById('visor_escollides');
registre.persones_inicials    = cercador_opts.persones_inicials;
registre.ids_persones_triades = []; // llista de id_persona (autoritativa)

function cerca() {
    if (registre.peticio_en_curs) {
        registre.peticio_en_curs.abort();
        registre.peticio_en_curs = false;
        amagar_coincidencies();
    }

    var post_parameters = '';

    for (var i = 0; i < registre.camps.length; i++) {
        var el_id     = registre.prefix + registre.camps[i];
        var contingut = document.getElementById(el_id).value;

        {#// TODO s'ha d'escapar el valor; com a mínim, si conté '&', pot fotre enlaire la cerca#}
        if (contingut) {
            post_parameters += registre.camps[i] + '=' + contingut + '&'; // l'últim & val per al csrf_token
        }
    }

    if (post_parameters) {
        post_parameters += 'csrfmiddlewaretoken='+ cercador_opts.csrf_token;
        // aquesta crida que segueix es assíncrona; rebrem la resposta a resposta_rebuda()
        http_post('{% url "socies:cerca_persones" %}', post_parameters);
    }
}

function http_post(url, params) {
    var request = new XMLHttpRequest();

    registre.peticio_en_curs = request;

    request.open("POST", url, true);
    request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    request.setRequestHeader("Content-length", params.length);
    request.setRequestHeader("Connection", "close");

    request.onreadystatechange = function () { // will be called when the state changes.
        if (request.readyState == 4 && request.status == 200) {
            resposta_rebuda(request.responseText);
        }
    };

    request.send(params);
}

function resposta_rebuda(responseText) {
    registre.resultats = JSON.parse(responseText);
    emplenar_coincidencies();
}

function amagar_coincidencies() {
    amagar_element(registre.caixa_resultats);
    registre.visor_resultats.innerHTML = '';
    registre.boto_no_trobat_crear.style.display = 'none';
}

function emplenar_coincidencies() {
    mostrar_element(registre.caixa_resultats);

    var n = 0;

    if (registre.resultats) {
        n = registre.resultats.length;
    }

    if (!n) {
        // TODO fix this crap! copia de l'altre
        registre.visor_resultats.innerHTML = '<ul><li><em>(no hi ha coincidències)</em></li></ul>';
        mostrar_element(registre.boto_no_trobat_crear);
        return;
    }

    var resultats_ul = document.createElement('ul');

    for(var i = 0; i < n; i++) {
        var item   = registre.resultats[i];
        var classe = "pobre";

        if (item.punts >= 200) {
            classe = "alta";
        } else if (item.punts >= 100) {
            classe = "mitja";
        }

        var boto_editar = null;
        var boto_triar  = null;

        if (registre.exclusio.indexOf(item.id) === -1 &&
            registre.ids_persones_triades.indexOf(item.id) === -1
        ) {
            boto_editar = fabricar_boto("editar", i, 'editar_persona(event)');

            if (item.dni && item.nom && item.cognom1) {
                boto_triar = fabricar_boto("triar", i, 'triar_persona(event)');
            }
        }

        var resultat_li = document.createElement('li');

        resultat_li.className = 'coincidencia coincidencia-' + classe;
        resultat_li.textContent = item.punts + ' → ' + item.text;
        resultat_li.setAttribute('title', 'id: ' + item.id.toString());

        if (boto_editar) { resultat_li.appendChild(boto_editar); }
        if (boto_triar) { resultat_li.appendChild(boto_triar); }

        resultats_ul.appendChild(resultat_li);
    }

    registre.visor_resultats.appendChild(resultats_ul);
    registre.boto_no_trobat_crear.style.display = '';
}

function fabricar_boto(etiqueta, index, click_action) {
    var b = document.createElement('span');

    {# TODO això no funcionarà si hi han espais o altres coses #}
    b.className   = 'boto_accio_resultat boto_accio_resultat-' + etiqueta;
    b.textContent = etiqueta;

    b.setAttribute('onclick', click_action);
    b.setAttribute('index', index.toString());

    return b;
}

function editar_persona(event) {
    if (comprovar_si_podem_afegir()) {
        var i = event.target.getAttribute('index');
        var item = registre.resultats[i];

        document.getElementById('{{ f.id_persona.id_for_label }}').value = item['id'];
        document.getElementById('{{ f.nom.id_for_label }}').value = item['nom'];
        document.getElementById('{{ f.cognom1.id_for_label }}').value = item['cognom1'];
        document.getElementById('{{ f.cognom2.id_for_label }}').value = item['cognom2'];
        document.getElementById('{{ f.pseudonim.id_for_label }}').value = item['pseudonim'];
        document.getElementById('{{ f.email.id_for_label }}').value = item['email'];
        document.getElementById('{{ f.telefon.id_for_label }}').value = item['telefon'];
        document.getElementById('{{ f.compte_integralces.id_for_label }}').value = item['compte_integralces'];
        document.getElementById('{{ f.dni.id_for_label }}').value = item['dni'];
        document.getElementById('{{ f.tipus_document_dni.id_for_label }}').value = item['tipus_document_dni'];

        mode_editar_persona();
    }
}

function crear_persona() {
    if (comprovar_si_podem_afegir()) {
        mode_crear_persona();
    }
}

function cancel_lar() {
    mode_cercar_persona();
    netejar_formulari();
}

function mode_cercar_persona() {
    amagar_coincidencies();
    amagar_element(registre.boto_crear);
    amagar_element(registre.boto_desar);
    amagar_element(registre.boto_cancel_lar);
    mostrar_element(registre.boto_cercar);
    mostrar_element(registre.boto_netejar);
    registre.mode = 'cercar';
}

function mode_editar_persona() {
    amagar_coincidencies();
    amagar_element(registre.boto_cercar);
    amagar_element(registre.boto_crear);
    amagar_element(registre.boto_netejar);
    mostrar_element(registre.boto_desar);
    mostrar_element(registre.boto_cancel_lar);
    registre.mode = 'editar';
}

function mode_crear_persona() {
    amagar_coincidencies();
    amagar_element(registre.boto_cercar);
    amagar_element(registre.boto_netejar);
    amagar_element(registre.boto_desar);
    mostrar_element(registre.boto_cancel_lar);
    mostrar_element(registre.boto_crear);
    registre.mode = 'crear';
}

function mostrar_element(el) {
    el.style.display = '';
}

function amagar_element(el) {
    el.style.display = 'none';
}

function netejar_formulari() {
    document.getElementById('{{ f.id_persona.id_for_label }}').value = '';
    document.getElementById('{{ f.nom.id_for_label }}').value = '';
    document.getElementById('{{ f.cognom1.id_for_label }}').value = '';
    document.getElementById('{{ f.cognom2.id_for_label }}').value = '';
    document.getElementById('{{ f.pseudonim.id_for_label }}').value = '';
    document.getElementById('{{ f.email.id_for_label }}').value = '';
    document.getElementById('{{ f.telefon.id_for_label }}').value = '';
    document.getElementById('{{ f.compte_integralces.id_for_label }}').value = '';
    document.getElementById('{{ f.dni.id_for_label }}').value = '';
    document.getElementById('{{ f.tipus_document_dni.id_for_label }}').value = 'dni'; {# TODO grab from Persona.tipus_document_dni default value #}

    while (true) {
        var x = document.getElementById('error_camp_edicio_persona');

        if (x) {
            x.parentNode.removeChild(x);
        } else {
            break;
        }
    }
}

function triar_persona(event) {
    var i = event.target.getAttribute('index');
    var item = registre.resultats[i];

    if (registre.ids_persones_triades.indexOf(item.id) === -1) {
        if (comprovar_si_podem_afegir()) {
            afegir_li(item.id, item.text);
            registre.ids_persones_triades.push(item.id);
            actualitzar_camp_persones_escollides();
            cancel_lar();
        }
    }
}

function comprovar_si_podem_afegir() {
    if (registre.escollir_maxim > 0 &&
        registre.ids_persones_triades.length >= registre.escollir_maxim
    ) {
        var singular = "pot triar més d'una persona";
        var plural = "poden triar més de " + registre.escollir_maxim.toString() + " persones";

        alert("No es " + (registre.escollir_maxim == 1 ? singular : plural) + " per aquest rol");

        return false;
    }
    return true;
}

function treure_persona(event) {
    var id = parseInt(event.target.getAttribute('index'));
    registre.ids_persones_triades.splice(registre.ids_persones_triades.indexOf(id), 1);
    var li = document.getElementById(registre.li_id_prefix + id.toString());
    li.parentNode.removeChild(li);
    actualitzar_camp_persones_escollides();
}

function actualitzar_camp_persones_escollides() {
    registre.camp_persones_escollides.value = registre.ids_persones_triades.toString();
    detectar_i_mostrar_cap_persona_escollida();
}

function emplenar_escollides_inicials() {
    {# emplena la llista de persones triades i l'array registre.ids_persones_triades #}

    for (var k in registre.persones_inicials) {
        afegir_li(k, registre.persones_inicials[k]);
        registre.ids_persones_triades.push(parseInt(k));
    }

    actualitzar_camp_persones_escollides();
}

function afegir_li(id, text) {
    var boto_treure = fabricar_boto("treure", id, 'treure_persona(event)');

    var escollit_li = document.createElement('li');
    escollit_li.className = 'persona_escollida';
    escollit_li.textContent = text;
    escollit_li.setAttribute('title', 'id: ' + id);
    escollit_li.setAttribute('id', registre.li_id_prefix + id);
    escollit_li.appendChild(boto_treure);

    registre.visor_escollides.appendChild(escollit_li);
}

function detectar_i_mostrar_cap_persona_escollida() {
    document.getElementById("cap_persona").style.display = (registre.ids_persones_triades.length > 0) ? 'none': '';
}

function capturar_tecla_enter(e) {
    if (e.keyCode == 13)  { // 13: ENTER
        if (registre.mode == 'cercar') {
            registre.boto_cercar.click();
        }
        // TODO si mode editar o crear, i no últim camp, anar al següent camp (com si l'usuari hagues pitjat TAB);
        return false;
    }
}

document.querySelector('[data-dni]').onkeypress = function (e) {
    if (e.keyCode == 13) {
        if (registre.mode == 'cercar') {
            registre.boto_cercar.click();
        }

        return false;
    }

    return completar_dni(e);
};

emplenar_escollides_inicials();

if('{{ comanda }}' === '{{ MODIFICAR_PERSONA }}') {
    mode_editar_persona();
} else if ('{{ comanda }}' === '{{ CREAR_PERSONA }}') {
    mode_crear_persona();
}
</script>
